apiVersion: apps/v1
kind: Deployment
metadata:
  name: wireguard-server
  namespace: default
  labels:
    app: wireguard
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wireguard
  template:
    metadata:
      labels:
        app: wireguard
    spec:
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 127.0.0.1 
          - 8.8.8.8    
      containers:
        - name: wireguard
          image: masipcat/wireguard-go:latest
          command: ["sh", "-c", "/entrypoint.sh"]
          ports:
          - containerPort: 51820
            protocol: UDP
            name: wireguard
          securityContext:
            capabilities:
              add:
                - NET_ADMIN
                - SYS_MODULE
            privileged: true
          volumeMounts:
            - name: cfgmap
              mountPath: /etc/wireguard/wg0.conf
              subPath: wg0.conf
            - name: host-volumes
              mountPath: /lib/modules
          resources:
            requests:
              memory: 64Mi
              cpu: "100m"
            limits:
              memory: 256Mi
              cpu: "500m"
        - name: dnsmasq
          image: jpillora/dnsmasq
          ports:
          - containerPort: 53
            protocol: UDP
          volumeMounts:
          - name: dnsmasq-configmap
            mountPath: /etc/dnsmasq.conf
            subPath: dnsmasq.conf
          resources:
            requests:
              memory: 32Mi
              cpu: "50m"
            limits:
              memory: 128Mi
              cpu: "200m"
      volumes:
      - name: cfgmap
        configMap:
          name: wg-configmap
      - name: host-volumes
        hostPath:
          path: /lib/modules
          type: Directory
      - name: dnsmasq-configmap
        configMap:
          name: dnsmasq-configmap