namespace: default

deployment:
  name: wireguard-server
  replicas: 1
  labels:
    app: wireguard

nodeSelector: {}

dns:
  nameservers:
    primary: 127.0.0.1
    secondary: 8.8.8.8

wireguard:
  image:
    repository: masipcat/wireguard-go
    tag: latest
  ports:
    wireguard: 51820
  security:
    privileged: true
  resources:
    requests:
      memory: 64Mi
      cpu: "100m"
    limits:
      memory: 256Mi
      cpu: "500m"

dnsmasq:
  image:
    repository: jpillora/dnsmasq
    tag: latest
  ports:
    dns: 53
  resources:
    requests:
      memory: 32Mi
      cpu: "50m"
    limits:
      memory: 128Mi
      cpu: "200m"

service:
  name: wireguard
  type: LoadBalancer
  labels:
    app: wireguard
  ports:
    port: 51820
    targetPort: 51820

configMaps:
  wireguard:
    name: wg-configmap
    address: 10.0.0.1/24
    listenPort: 51820
    privateKey: "6Lv4V0te8QOhVQpDWuQn5OxYnzfDFYecI/fNxDTLn38="
    postUp: "iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE"
    postDown: "iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE"

  dnsmasq:
    name: dnsmasq-configmap
    server: 8.8.8.8

hostPath:
  modules: /lib/modules
